.title-main {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    color: #434F7B;
}



@media (max-width: 768px) {
    .title-main {
        font-size: 2rem;
    }

    .foto-main {
        position: absolute;
        height: 320px;
        z-index: -100;
        right: 2%;
        bottom: 0;
        opacity: 0.6;
    }
}